.container {
  width: var(--max);
  height: var(--max);
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebar {
  position: fixed;
  width: 20%;
  height: var(--max);
  background-color: var(--light-gray);
  display: grid;
  grid-template-rows: 130px 60px 1fr;
  grid-template-columns: 1fr;
  transform: translateX(85%);
  transition: all 1s ease-in-out;
  z-index: 1;
}
.sidebar:hover {
  transform: translateX(0);
}
.sidebar:hover ~ .todo-wrapper {
  left: -20%;
}

.profile {
  width: var(--max);
  height: var(--max);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.profile img {
  width: 20%;
  height: 50%;
  border-radius: 50%;
}
.profile p {
  font-size: 2rem;
  font-weight: bold;
}
.profile button {
  border: none;
  transform: rotate(45deg);
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
.profile button:hover i {
  transition: color 0.9s ease-in-out;
  color: dodgerblue;
}
.profile button.rotate {
  transform: rotate(0);
}
.profile button.rotate i {
  color: dodgerblue;
}

.create-task {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-task {
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: dodgerblue;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
}
.btn-task ion-icon {
  font-size: 32px;
  color: inherit;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: var(--max);
  padding-top: 50px;
}
.menu li {
  padding: 0 5px;
  margin: 5px 0;
  width: var(--max);
  height: 35px;
  line-height: 35px;
  transition: background-color 1s ease-in-out;
}
.menu li a {
  display: flex;
  align-items: center;
  width: inherit;
  color: var(--main-color);
}
.menu li a ion-icon,
.menu li a i {
  margin-left: 10px;
}
.menu li:hover {
  background-color: var(--light-gray-hover);
  transition: background-color 1s ease-in-out;
}

.active {
  transform: translateX(0);
}

.todo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--max);
  background-color: dodgerblue;
  transition: all 1s ease-in-out;
  transform: translateX(0);
}

.slideLeft {
  left: -20%;
}

:root {
  font-size: 62.5%;
  --light-gray: #f4f4f4;
  --light-gray-hover: #fafafa;
  --main-color: #34373d;
  --icon-color: #767678;
  --max: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

ion-icon,
i {
  font-size: 2rem;
  color: var(--icon-color);
}

body {
  direction: rtl;
  font-size: 1.8rem;
  font-weight: normal;
  color: var(--main-color);
}

.container {
  width: var(--max);
  height: var(--max);
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebar {
  position: fixed;
  width: 20%;
  height: var(--max);
  background-color: var(--light-gray);
  display: grid;
  grid-template-rows: 130px 60px 1fr;
  grid-template-columns: 1fr;
  transform: translateX(85%);
  transition: all 1s ease-in-out;
  z-index: 1;
}
.sidebar:hover {
  transform: translateX(0);
}
.sidebar:hover ~ .todo-wrapper {
  left: -20%;
}

.profile {
  width: var(--max);
  height: var(--max);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.profile img {
  width: 20%;
  height: 50%;
  border-radius: 50%;
}
.profile p {
  font-size: 2rem;
  font-weight: bold;
}
.profile button {
  border: none;
  transform: rotate(45deg);
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
.profile button:hover i {
  transition: color 0.9s ease-in-out;
  color: dodgerblue;
}
.profile button.rotate {
  transform: rotate(0);
}
.profile button.rotate i {
  color: dodgerblue;
}

.create-task {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-task {
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: dodgerblue;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
}
.btn-task ion-icon {
  font-size: 32px;
  color: inherit;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: var(--max);
  padding-top: 50px;
}
.menu li {
  padding: 0 5px;
  margin: 5px 0;
  width: var(--max);
  height: 35px;
  line-height: 35px;
  transition: background-color 1s ease-in-out;
}
.menu li a {
  display: flex;
  align-items: center;
  width: inherit;
  color: var(--main-color);
}
.menu li a ion-icon,
.menu li a i {
  margin-left: 10px;
}
.menu li:hover {
  background-color: var(--light-gray-hover);
  transition: background-color 1s ease-in-out;
}

.active {
  transform: translateX(0);
}

.todo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--max);
  background-color: dodgerblue;
  transition: all 1s ease-in-out;
  transform: translateX(0);
}

.slideLeft {
  left: -20%;
}/*# sourceMappingURL=style.css.map */