@import "component";
@import "mixin";
:root {
    font-size: 62.5%; //10px defult
    --light-gray: #f4f4f4;
    --light-gray-hover: #fafafa;
    --main-color: #34373d;
    --icon-color: #767678;
    --max: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

ion-icon,
i {
    font-size: 2rem;
    color: var(--icon-color);
}

button {
    cursor: pointer;
}

body {
    direction: rtl;
    font-size: 1.8rem;
    font-weight: normal;
    color: var(--main-color);
}