@import "mixin";
.container {
    width: var(--max);
    height: var(--max);
    position: relative;
    display: flex;
    flex-direction: column;
}

.sidebar {
    position: fixed;
    width: 20%;
    height: var(--max);
    background-color: var(--light-gray);
    display: grid;
    grid-template-rows: 130px 60px 1fr;
    grid-template-columns: 1fr;
    transform: translateX(85%);
    transition: all 1s ease-in-out;
    z-index: 1;
    overflow-y: auto;
    &:hover {
        transform: translateX(0);
        &~.task-wrapper {
            left: -20%;
        }
        &.all-task {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

.profile {
    width: var(--max);
    height: var(--max);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    img {
        width: 20%;
        height: 50%;
        border-radius: 50%;
    }
    p {
        font-size: 2rem;
    }
    button {
        border: none;
        transform: rotate(45deg);
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.5s ease-in-out;
        i {
            font-size: 1.8rem;
        }
        &:hover {
            i {
                transition: color 0.9s ease-in-out;
                color: dodgerblue;
            }
        }
        &.rotate {
            transform: rotate(0);
            i {
                color: dodgerblue;
            }
        }
    }
}

.create-task {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-task {
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: dodgerblue;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    i {
        font-size: 2rem;
        color: inherit;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: var(--max);
    padding-top: 50px;
    li {
        padding: 10px 5px;
        width: var(--max);
        transition: background-color 1s ease-in-out;
        a {
            display: flex;
            align-items: center;
            width: inherit;
            color: var(--main-color);
            i {
                margin-left: 10px;
            }
        }
        &:hover {
            background-color: var(--light-gray-hover);
            transition: background-color 1s ease-in-out;
        }
        &:nth-child(4) {
            a {
                & i:nth-child(2) {
                    margin-right: 20px;
                }
            }
        }
        &:last-child {
            position: relative;
            span {
                position: absolute;
                cursor: pointer;
                top: 10px;
                &:nth-child(2) {
                    left: 15%;
                }
            }
        }
    }
}

.sublist {
    display: none;
    &.active {
        display: block;
        background-color: #f9f9f9;
    }
}

.arrow {
    transform: rotate(90deg);
    &.rotate {
        transform: rotate(0);
    }
}

// active class for sidbar
.active {
    transform: translateX(0);
}

.task-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--max);
    height: var(--max);
    background-color: #f9f9f9;
    transition: all 1s ease-in-out;
    transform: translateX(0);
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

.slideLeft {
    left: -20%;
}

//moda add task
.modal-task {
    width: 550px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%) scale(0.1);
    background-color: var(--light-gray);
    border: 1px solid #f1eeee;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 350px 1px 198px;
    grid-template-rows: 90% 10%;
    padding-top: 20px;
    transition: all 0.8s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.activeModal {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 15%) scale(1);
    transition: all 0.8s ease-in-out;
}

.add-task {
    grid-area: 1/1/2/2;
    textarea {
        width: 90%;
        height: auto;
        border: 1px solid #f1eeee;
        background-color: #f9f9f9;
        display: block;
        border-radius: 5px;
        margin: 0 auto;
        padding: 0 5px;
        overflow: hidden;
        &:first-child {
            margin-bottom: 20px;
            font-size: 1.8rem;
        }
        &:focus {
            outline: 1px solid #ccc;
        }
    }
    span {
        display: block;
        margin-bottom: 10px;
        padding-right: 20px;
    }
}

.line {
    grid-area: 1/2/2/3;
    background-color: #cccccc61;
    margin-bottom: 10px;
}

// remind-task section style
.remind-task {
    grid-area: 1/3/2/4;
}

.remind {
    width: var(--max);
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 15px;
        height: 30px;
        padding: 0 15px;
        font-size: 1.5rem;
        /* font-weight: bold; */
        i {
            font-size: 16px;
        }
        &:hover {
            background: #f9f9f9;
            transition: all 0.4s ease-in-out;
        }
        &:focus {
            background-color: dodgerblue;
            color: #f9f9f9;
            border: none;
            transition: color 0.6 ease-in-out;
            i {
                color: inherit;
                transform: rotate(-18deg);
                transition: transform 0.5s ease-in-out;
            }
        }
    }
}

.list-task {
    height: 12%;
    span {
        padding-right: 10px;
    }
    select {
        width: 100px;
        background-color: #eee;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.btn-addTask {
    grid-area: 2/1/3/4;
    button {
        width: var(--max);
        height: var(--max);
        border-radius: 0 0 20px 20px;
        border: none;
        font-size: 2rem;
        color: rgba($color: #5e5c5c, $alpha: 0.5);
        // box-shadow: rgba(17, 17, 26, 0.1) 1px 0px 0px;
        box-shadow: 0 -4px 2px -3px #adadb3;
        background-color: transparent;
    }
}

// task wrapper style

/**================= 
 * all task and inside element style
 ===================*/

.all-task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: var(--max);
    height: var(--max);
    overflow-y: auto;
    display: none;
}

.all {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
}

.accordion {
    position: relative;
    width: 80%;
    background-color: var(--light-gray);
    margin-right: 5%;
    border-radius: 10px;
    a {
        color: #595959;
        i {
            color: inherit;
        }
    }
    li {
        border-bottom: 1px solid #dddd;
        &:last-child {
            border-bottom: none;
        }
    }
}

.link {
    width: var(--max);
    display: block;
    padding: 5px 25px 5px 0;
    position: relative;
    transition: all 0.4s ease;
    // border-bottom: 1px solid #dddd;
    i {
        position: absolute;
        top: 25%;
        &:first-child {
            right: 5px;
        }
        &:last-child {
            left: 10px;
            font-weight: bold;
            transition: 0.2s ease-in-out;
            &.rotate {
                color: dodgerblue;
                transform: rotate(180deg);
                transition: 0.2s ease-in-out;
            }
        }
    }
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    li {
        border-bottom: 1px solid #dddd;
        a {
            width: 100%;
            display: block;
            height: 30px;
            padding: 3px 8px;
            &:hover {
                color: dodgerblue;
            }
        }
    }
}

.compeleted {
    width: 40%;
    height: var(--max);
    display: flex;
    padding-top: 5%;
    justify-content: space-around;
}

.cmpl-container {
    width: 80%;
    height: 80%;
    background: #ecf0f1;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    select,
    input[type="text"] {
        width: 200px;
        position: absolute;
        top: 15px;
        padding: 4px;
        border-radius: 5px;
        border: 1px solid #74777a;
        outline: none;
    }
    select {
        left: 15px;
        width: 150px;
        background: #dff9fb;
        border: 1px solid #74777a;
        color: #74777a;
        outline: none;
        padding: 4px 0;
        border-radius: 5px;
        & option {
            &:hover {
                color: red;
            }
        }
    }
}


/**
 * =============
 * task style 
 * ==============
 */

.task-style {
    display: flex;
    flex-direction: column;
    margin: 2% 10% 0 0;
    padding: 5px 0;
    width: 50%;
    height: 90%;
    background-color: #ecf0f1;
    border-radius: 15px;
    overflow-y: auto;
    position: relative;
    &::-webkit-scrollbar {
        display: none;
    }
}

.task__list {
    width: 100%;
    height: 100%;
    li {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        width: 100%;
        height: auto;
    }
}

.header-task {
    width: var(--max);
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    margin-bottom: 5%;
    span {
        padding: 5px 5px;
        border-bottom: 1px solid #1eb8ff;
        font-size: 1.6rem;
        i {
            margin-left: 5px;
            color: #1eb8ff;
        }
    }
}

.catgory {
    position: absolute;
    top: 10px;
    left: 10px;
    label {
        font-size: 1.3rem;
    }
}

#selected_import {
    width: 100px;
    border: none;
    outline: none;
    background: #f9f9f9;
    font-size: inherit;
    border-radius: 5px;
    // color: dodgerblue;
    cursor: pointer;
}

.task-item {
    flex: 1;
    display: grid;
    grid-template-columns: 20px 200px 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    input[type="checkbox"] {
        grid-area: 1/1/1/2;
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    p {
        &:nth-child(2) {
            grid-area: 1/2/1/4;
            padding-right: 5px;
            font-weight: bold;
        }
        &:last-child {
            grid-area: 2/1/2/4;
            padding: 5px 20px 5px 0;
        }
    }
}

//add toggle class to comelete task
.compelete_check {
    text-decoration: line-through;
    text-decoration-style: double;
    opacity: 0.5;
    color: dodgerblue;
}

.task-control {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    span {
        cursor: pointer;
        width: 25px;
        height: 25px;
        i:hover {
            color: #1eb8ff;
            transition: all 0.3s ease-in-out;
        }
    }
}

// .import-task {
//     display: none;
// }
.compeleted-task {
    display: none;
}

.porsonal-task {
    display: none;
}

.work-task {
    display: none;
}

.sport-task {
    display: none;
}

.course-task {
    display: none;
}